.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
}

.doubleChart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

.divider {
  margin-top: 30px !important;
}


@media(max-width: 770px) {
    .container {
      width: 100% ;
    }
  }