.container {
    margin: 20px 0;
}



.card {
    padding: 0;
    margin: 0 2% !important;
}
.root {
    width: 500px;
    margin: 25px;
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    border-radius: 20px !important;
}
.head {
    font-size: 40px ;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px ;
    font-weight: lighter;
    color: rgb(70, 70, 70);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infected {
    font-size: 50px !important ;
    font-weight: bold !important;
    color: rgb(180, 180, 180);
}
.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
} 

/* .infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
} */

@media(max-width: 770px) {
    .container {
        padding: 0 0%;
    }
    .card {
      margin: 2% 0 !important;
    }
  
    .image {
      width: 100%;
    }
  }